extends base

block content
    if  data.length == 0
        h4 Cart is empty.
    else
        .cart__container
            .cart__items
                each product in data 
                    .cart__item 
                        img.cart__item--img(src=`img/${product.img}`,alt=`${product.    title}`)
                        .cart__item--title=`${product.title}`
                        input.cart__item--quantity(type="number", name="quantity"   value=`${product.quantity}` max=9,min=1,data-productid=`${product._id}`)
                        .cart__item--price=`Rs. ${product.price}`
                        button.cart__item--delete(value="Delete",data-productid=`${product._id}`) Remove

            - let total=0
            -
                data.forEach(item=>{
                    total+=item.price
                })

            .cart__billing-bar 
                .bill__row
                    .bill__buyer--title Name: 
                    .bill__buyer--name=user.name 
                .bill__row 
                    .bill__buyer--title Phone: 
                    .bill__buyer--phone=user.phoneNo
                .bill__row 
                    .bill__buyer--title Address: 
                    .bill__buyer--address=user.address
                .bill__row.bill__total 
                    .bill__buyer--title Total: 
                    .bill__buyer--total=`Rs. ${total}`
                .buyer_Btn 
                    form.product__form(action="/orders/checkout",method="POST")
                      input(type="hidden", name="userId", value=`${userId}`)
                      Button.bill__buyer--btn Order

        script(type='text/javascript', src='/js/cart.js' defer)