extends base

block content
  if !admin
    .product-card
        .product__image
          img(src=`/img/${data.img}`)
        .product__details
          .product__field 
            .product__heading=data.title
  
          .product__field 
            .product__stock In Stock

          .product__field 
            ul.product__assurance
              li.assurance__item 
                img(src="/icons/cod.png")
                .assurance__text Cash on Delivery
              li.assurance__item 
                img(src="/icons/replacement.png")
                .assurance__text 7 Day Replacement
              li.assurance__item 
                img(src="/icons/warranty.png")
                .assurance__text 1 Year Warranty
          .product__field.product__price 
            .product__text.crossed=`Rs. ${data.originalprice}`
            .product__text=`Rs. ${data.discountprice}`
            .product__text.discperc=Math.floor((data.originalprice-data.discountprice)/data.originalprice*100)+"% off"
          .product__field
            form.product__form(action="/cart",method="POST")
              input(type="hidden", name="productCategory",value=`${category}`)
              input(type="hidden", name="productId", value=`${data._id}`)
              button.buy-now__button Add to cart
              
                
        
    .product__info 
      .heading-3 Description     
      .product__description=data.description

    .product__info
      .heading-3 Features
      .product__features=data.features
  else
    form(id="admin-product-form")
      .product-card
          .product__image
            img(src=`/img/${data.img}`)
          .product__details
            input(type="hidden", name="id", value=`${data._id}`)
            .form__field
              .form__label
                label(for="title") title 
              input(id="title" name="title" type="text" value=`${data.title}`).input__field

            .form__field
              .form__label
                label(for="discountprice") price 
              input(id="discountprice" name="discountprice" type="number" value=`${data.discountprice}`).input__field

            .product__field
              .bill__row.button__row
                input.order__button--normal.order__button(id="update-product-button" type="submit" value="Save Changes")
                button(id="delete-product-button" data-id = data._id).order__button--delete.order__button Delete Product
              
      .product__info 
        .heading-3 Description     
        .product__description 
          textarea(id="description" name="description" ).form__field__textarea=data.description

      .product__info
        .heading-3 Features
        .product__features 
          textarea(id="features" name="features" ).form__field__textarea=data.features
  
    script(defer).
        const form = document.querySelector('#admin-product-form')
        form.addEventListener('submit',(e)=>{
          e.preventDefault()
          const data = new FormData(e.target);
            
            axios({
                url : 'http://localhost:3000/admin/product',
                method : 'PATCH',
                headers : {'content-type' : 'multipart/form-data'},
                data : data
            })
            .then(res=>{
                if(res.data.status === 'ok'){
                    alert('Product Updated')
                }
            })
            .catch(err=>{
                alert(err.response.data.message)
            })

        })

      const deleteButton = document.getElementById('delete-product-button');
      const id = deleteButton.dataset.id

      deleteButton.addEventListener('click',(e)=>{
        e.preventDefault()
        axios({
                url : 'http://localhost:3000/admin/product',
                method : 'DELETE',
                data : {id}
            })
            .then(res=>{
                  window.location.assign('/categories/#{data.category}')
                  alert('Product Removed')
            })
            .catch(err=>{
                alert(err.response.data.message)
            })
      })
